@use 'index' as i;

.page-wrapper {
    max-width: i.pxToRem(375);
    // padding: 0 20px 0 20px;
}

.hero {
    background-image: url(../images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-color: i.$clr-cyan-100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__top-line {
    align-items: center;
    display: flex;
    padding: 23px 16px 82px 15px;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 104px;
    height: auto;
}

.hero__title {
    color: i.$clr-cyan-900;
    font-family: i.$ff-heading;
    font-size: i.pxToRem(24);
    padding: 0 35px 22px 35px;
    text-align: center;
}

.hero__text {
    color: i.$clr-cyan-900;
    font-size: i.pxToRem(16);
    line-height: 1.5;
    padding: 0 35px 33px 35px;
    text-align: center;
}

.hero__image {
    padding: 54px 36px 32px 36px;
}

.features {
    padding-top: 59px;
    padding-bottom: 100px;
    padding-left: 19px;
    padding-right : 19px;
}

.features__card {
    border-radius: 10px;    
    box-shadow: 0 0 4px 0 hsl(0, 0%, 70%);
    // outline: green 1px solid;
    height: 491px;
    margin-bottom: 34px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64% 1fr;
}



.features__image {
    padding-top: 58px;
    padding-bottom: 62px;
    padding-left: 38px;
    padding-right: 38x;     
}

.bottom {
    display: flex;
    flex-direction: column;
}

.features__title {
    color: i.$clr-cyan-900;
    font-family: 'Poppins', sans-serif;
    font-size: i.pxToRem(20);
    // padding: 0 0 14px 0;
    padding-bottom: 16px;
    text-align: center;
}

.features__text {
    color: i.$clr-gray-blue-400;
    font-size: i.pxToRem(14);
    line-height: 1.5;
    padding-left: 43px;
    padding-right: 44px;
    text-align: center;
    flex-grow: 1;
}

.offer__card {
    border-radius: 10px;    
    box-shadow: 0 0 4px 0 hsl(0, 0%, 70%);
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // outline: green 1px solid;
}

.features__offer {
    color: i.$clr-cyan-900;
    font-size: i.pxToRem(19);
    letter-spacing: -.5px;
    text-align: center;
    padding-bottom: 30px;
}

.footer {
    background-color: i.$clr-cyan-900;
    color: i.$clr-white;
}

.contact {
    font-size: i.pxToRem(16);
    line-height: 1.5;
}

.links__list {
    line-height: 2.4;
    list-style: none;
    padding: 0;
}

.copyright {
    font-family: 'Poppins', sans-serif;
    font-size: i.pxToRem(11);
    font-weight: 400;
    text-align: center;
}

// .btn-round {
//     background-color: s.$clr-neon-green;
// 	border: none;
// 	border-radius: 9999px;
//     bottom: -31px;
// 	cursor: pointer;
// 	display: block;
//     padding: s.pxToRem(31);
//     position: absolute;
// }

// .btn-round::after {
//     background: url("../images/icon-dice.svg");
//     background-repeat: no-repeat;
//     background-position: center center;
//     content: "";
//     height: 24px;
//     width: 100%;
//     position: absolute;
//     left: 0;
//     top: 19px;
// }

// .btn-round:hover {
//     box-shadow: 0 0 15px 15px hsla(150, 100%, 66%, .2);
// }

