// variables

// colors
$clr-white: hsl(0, 0%, 100%);
$clr-pink-400: hsl(322, 100%, 66%);
$clr-cyan-100: hsl(193, 100%, 96%);
$clr-cyan-900: hsl(192, 100%, 9%);
$clr-gray-blue-400: hsl(208, 11%, 55%);


// font-family
$ff-default: 'Open Sans', sans-serif;
$ff-heading: 'Poppins', sans-serif;

// font-weight
$fw-poppins: 600;
$fw-open-sans-400: 400;
$fw-open-sans-700: 700;

// font-size
$fs-default: 18px;